/* Reset toàn bộ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Reset body */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #ffffff; /* cho khớp với layout */
}


.home-layout {
  display: flex;
  min-height: 100vh;
  background: #e9e0e0; /* nền nâu giống giao diện */
  color: white;
}

/* Sidebar chiếm cố định bên trái */
.home-layout .sidebar {
  width: 240px;
  background: #0a75c6; /* nền tối hơn */
  padding: 1rem;
}

/* Phần nội dung bên phải */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}



/* Nội dung chính */
.page-content {
  flex: 1;
  padding: 1.5rem;
  overflow-y: auto;
}
